body{
    background: cornflowerblue;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

#menu ul {
    color: black;
    padding:10px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
#menu ul li { display: inline; }

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}