body{
    background: rgba(166, 237, 238, 1);
    font-family: Roboto , sans-serif;
    background-image: url(images/derretendo.dvg) no-repeat;
    background-size: cover;
}

header{
    color: black;
    text-align: center;
}
#titulo{
    font-family: 'aclonica';
    text-align: left;
    color: rgba(243, 70, 152, 1);
    float: left;
    font-size: 2em ;
    /*margin-left: 35px;*/
    margin-top:10px;
}
/*ul{
   list-style:none;
   display: inline-block;
   vertical-align: top;
   text-align: right;
   margin-top: 25px;
   float: right;
   margin-right: 40px;*/

}
li{
    display: inline;
}
#menu a{
    color: gray;
    text-decoration:none;
    padding:5px;
    /*margin: 5px;
    font-size:25px;*/
}

