body{
    background: rgba(166, 237, 238, 1);
    font-family: Roboto , sans-serif;
    background-image: url(images/derretendo.dvg) no-repeat;
    background-size: cover;
}

header{
    color: black;
    text-align: center;
}


#titulo{
    font-family: 'aclonica';
    text-align: left;
    color: rgba(243, 70, 152, 1);
    float: left;
    font-size: 2em ;
    /*margin-left: 35px;*/
    margin-top:10px;
}

.titulos{
    font-family: 'aclonica';
    text-align: center;
    color: rgba(243, 70, 152, 1);
    font-size: 2em;
}

/*ul{
   list-style:none;
   display: inline-block;
   vertical-align: top;
   text-align: right;
   margin-top: 25px;
   float: right;
   margin-right: 40px;*/

li{
    display: inline;
}
#menu a{
    color: gray;
    text-decoration:none;
    padding:5px;
    /*margin: 5px;
    font-size:25px;*/
}


#quem-somos{
    text-align: center;
    padding: 35px;
    background-color:rgba(252, 230, 240, 1);
    margin-left: 60px;
    border-radius: 20px;
    max-width: 40%;
    max-height: 200;
    font-size: 1.2em;
}

.tipos{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

.tipos img{
    max-width: 260px;
    background-color: #F4C3DA;
    margin: 20px;
}

.tipos h1{
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    font-size: 2.5em;
    margin-top: 125px;
    margin-left: 40px;
    font-family: "Aclonica", sans-serif;
    color: #FFFFFF;
}

.tipos h2{
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    font-size: 2.1em;
    margin-top: 165px;
    margin-left: 40px;
    font-family: "Aclonica", sans-serif;
    color: #FFFFFF;
}


.tipos button{
    margin-left: 20px;
}

.modelos-sorvetes{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    color: #737373;
    font-size: 1em;
}


.items-contato{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
}

.items-contato li{
    font-style: oblique;
    font-size: 1.2em;
}